.img-content {
    display: flex;
    justify-content: center;
    align-items: center;
}

.img-content img {
    width: 500px;       
    height: auto;
    border-radius: 20px;
    object-fit: contain;
    animation: float 3s ease-in-out infinite;
}

.sobre-nos{
    background: url('../img/fundo.png');
    background-size: 100%;
    background-position: 100%;
    background-repeat: no-repeat;
    height: 1000px;
    display: flex;
    justify-content: center;
    align-items: center;

}