nav {
    display: flex;
    gap: 15px;
}

nav button {
    border: none;
    padding: 10px 22px;
    border-radius: 25px;
    font-weight: 600;
    cursor: pointer;
    transition: 0.3s;
}

nav button:hover {
    opacity: 0.8;
    transform: scale(1.05);
}

/* Responsividade para Tablet */
@media (max-width: 768px) {
    nav {
        width: 100%;
        justify-content: center;
    }

    nav button {
        padding: 10px 18px;
        font-size: 14px;
    }
}

/* Responsividade para Mobile */
@media (max-width: 480px) {
    nav {
        width: 100%;
        justify-content: center;
        gap: 8px;
    }

    nav button {
        padding: 8px 12px;
        font-size: 12px;
        font-weight: 500;
    }
}