.text-content h1 {
    font-size: 52px;
    font-weight: 600;
    line-height: 1.2;
    color: #0f0f0f;
}

.text-content span {
    color: #0f0f0f;
}


.introducao{
    display: flex;
    text-align: center;
    margin-top: 50px;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    
}



.main-text {
    flex: 2;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 60px 100px;
    gap: 50px;
}






.como-funciona {
    padding: 80px 20px;
    text-align: center;
    
}

.como-funciona h2 {
    color: #980aa5;
    margin-bottom: 40px;
}




.por-que-usar {
    padding: 80px 20px;
    background: #ffaa0079;
}

.por-que-usar h2 {
    text-align: center;
    color: var(--roxo-card);
    margin-bottom: 30px;
}

.por-que-usar ul {
    list-style: none;
    max-width: 700px;
    margin: 0 auto;
    font-size: 1.05rem;
}

.por-que-usar li {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 15px;
    
    
    
    
}




.avaliacoes {
    padding: 80px 20px;
    text-align: center;
    
}

.avaliacoes h2{
    margin-bottom: 12px;
}

.reviews {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 25px;
}




.stars {
    font-size: 1.3rem;
    color: #ffca1a;
}

blockquote {
    font-style: italic;
    margin: 10px 0;
}


.graficos {
    padding: 80px 20px;
    background: #ffaa0079;
    text-align: center;
}

.graficos h2{
    margin-bottom: 12px;
}
.dados {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 25px;
}