@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap');



@import '../css/animation.css';
@import '../css/btn.css';
@import '../css/img.css';
@import '../css/initialconfig.css';
@import '../css/logo.css';
@import '../css/nav.css';
@import '../css/responsividade.css';
@import '../css/text.css';
@import '../css/card.css';
@import '../css/footer.css';


main {
    background: linear-gradient(90deg, #ffab5d, #faff6f);
    color: rgb(0, 0, 0);
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

header {
    position: sticky;
    align-items: center;
    display: flex;
    justify-content: space-between;
    width: 100%;
    background: linear-gradient(90deg, rgba(65, 1, 121, 0.884), rgba(89, 0, 61, 0.906));
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    height: 70px;
    padding: 10px 30px;
    z-index: 3;
    top: 0;
}



.bem-vindo {
    font-size: 30px;
    margin-bottom: -20px;
}