body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-image: url('assets/teacher-5635919_1280.png'); /* coloque sua imagem */
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

}

.form-container {
    position: relative;
    max-width: 450px;
    padding: 25px;
    margin: 50px auto;
    border-radius: 20px;
    background: rgba(0,0,0,0.25); /* Transparente escuro */
    backdrop-filter: blur(6px); /* deixa moderno */
    color: white;
}

label {
    font-weight: bold;
    display: block;
    margin-bottom: 5px;
}

input {
    width: 100%;
    padding: 12px;
    margin-bottom: 18px;
    border: none;
    border-radius: 12px;
    background: #F5A544; /* LARANJA */
    color: #222;
    font-size: 15px;
}

input::placeholder {
    color: rgba(0,0,0,0.6);
}

button {
    width: 60%;
    padding: 12px;
    background: #C168FF; /* ROXO */
    border: none;
    border-radius: 30px;
    color: #000;
    font-size: 17px;
    font-weight: bold;
    cursor: pointer;
    display: block;
    margin: 10px auto 0 auto;
    transition: 0.3s;
}

button:hover {
    transform: scale(1.05);
}