/* Seu CSS de Inscrição */
/* Seu CSS de Inscrição */

body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;

}

body::before{
    content: "";
    background-image: url('assets/imagem-login.png');
    background-size: cover;
    position: absolute;
    background-repeat: no-repeat;
    background-position: center;
    opacity: 0.5;
    width: 100%;
    height: 100%;
    z-index: -1;
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    
}

.form-container {
    position: relative;
    height: 540px;
    width: 70%;
    max-width: 500px;
    padding: 12px;
    padding-right: 36px;
    margin: 50px auto;
    border-radius: 20px;
    background: #f8a830;
    /* Transparente escuro */
    backdrop-filter: blur(6px);
    /* deixa moderno */

}

/* Garante que o feedback fique acima de tudo e use o espaço corretamente */
#inscricao-feedback {
    /* O JS já define a cor e display, mas este garante o espaço */
    font-weight: bold;
    text-align: center;
    z-index: 1000;
    /* Garante que o feedback não fique atrás de nada */
}

label {
    font-weight: bold;
    display: block;
    margin-bottom: 5px;
}

input {
    width: 100%;
    padding: 12px;
    margin-bottom: 18px;
    border: none;
    border-radius: 12px;
       
    color: #222;
    font-size: 15px;
}

input::placeholder {
    color: rgba(0, 0, 0, 0.6);
}

button {
    width: 60%;
    padding: 12px;
    background: #f5a544;
    /* ROXO */
    border: none;
    border-radius: 30px;
    color: #000;
    font-size: 17px;
    font-weight: bold;
    cursor: pointer;
    display: block;
    margin: 10px auto 0 auto;
    transition: 0.3s;
}

button:hover {
    transform: scale(1.05);
}
input { 
    width: 100%;
}

.texto-label{
    color:#2a2a2a;
}
h2{
    color: #2a2a2a;
}